body {
    font-family: Arial, sans-serif;
    background: url('pizza.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}


.login-container {
    background-color: rgba(255, 255, 0, 0.9); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 350px;
    text-align: center;
    color: maroon;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid maroon;
    border-radius: 5px;
    display: block;
    font-size: 16px;
}

.login-container button {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.login-container button:hover {
    background-color: darkred;
}


@media screen and (max-width: 480px) {
    .login-container {
        width: 90%;  
        padding: 15px;
    }

    .login-container input,
    .login-container button {
        font-size: 14px;
    }
}


@media screen and (max-width: 768px) {
    .login-container {
        width: 80%;
        max-width: 320px;
    }
}

@media screen and (min-width: 1024px) {
    .login-container {
        max-width: 400px; 
    }
}

